.task-form {
  display: flex;
  max-width: 1000px;
  min-width: 700px;
  flex-direction: column;
  border: 0.5px solid whitesmoke;
  border-radius: 8px;
  margin-top: 0;
  margin-bottom: 20px;
  padding: 10px;
}

.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px;
}

.button-reset {
  background-color: rgb(135, 134, 134);
}

.button-reset:hover {
  background-color: rgb(172, 170, 170);
}

.add-button-form:hover {
  background-color: rgb(145, 94, 94);
}

.add-button-form {
  background-color: rgb(99, 63, 63);
  transition: 0.5s;
}

.input-form {
  color: whitesmoke;
  font-size: 16px;
  font-family: Helvetica, sans-serif;
  background-color: transparent;
  margin-bottom: 5px;
  padding: 10px;
  border: none;
  outline: none;
}

.textarea-form {
  color: whitesmoke;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  background-color: transparent;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-bottom: 0.5px solid whitesmoke;
  outline: none;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: rgb(135, 134, 134);
  border-radius: 8px;
}

textarea::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 94, 94);
}

.checkbox-div {
  display: flex;
  margin-right: auto;
}
