// Breakpoints
$breakpoint-xs: 320px; // Мобильные (маленькие)
$breakpoint-sm: 576px; // Мобильные (средние)
$breakpoint-md: 767px; // Планшеты
$breakpoint-lg: 992px; // Ноутбуки
$breakpoint-xl: 1200px; // Десктопы
$breakpoint-xxl: 1400px;

$primary-color: rgb(145, 94, 94);

// Добавляйте ниже прочие переменные проекта (цвета, шрифты, отступы и т.д.)
